node-red.json
[{"id":"87d0b67.d917e48","type":"tab","label":"IBM -IoT ui","disabled":false,"info":""},{"id":"20a16b75.ac7664","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6d6d582.f0936a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9692df8a.127bd","type":"ui_group","z":"","name":"IoT","tab":"96c34ef2.b7c96","order":1,"disp":true,"width":"8","collapse":false},{"id":"96c34ef2.b7c96","type":"ui_tab","z":"","name":"Smart_Agriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e701c1e.613f44","type":"ibmiot in","z":"87d0b67.d917e48","authentication":"apiKey","apiKey":"20a16b75.ac7664","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"smart","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":220,"wires":[["3279f8c8.5fb9c8","759af765.070198","3e76e1b6.fe963e","2b947a97.979ef6"]]},{"id":"3279f8c8.5fb9c8","type":"debug","z":"87d0b67.d917e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":220,"wires":[]},{"id":"759af765.070198","type":"function","z":"87d0b67.d917e48","name":"temp","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["3279f8c8.5fb9c8","7fffc815.1dccf8"]]},{"id":"7fffc815.1dccf8","type":"ui_gauge","z":"87d0b67.d917e48","name":"","group":"9692df8a.127bd","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degree Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":320,"wires":[]},{"id":"8551286a.e8dc28","type":"http request","z":"87d0b67.d917e48","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Kanpur,IN&appid=147db1b58b58e524e24efbf4a5cb8851","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":600,"wires":[["3279f8c8.5fb9c8"]]},{"id":"3decf410.f9f0dc","type":"inject","z":"87d0b67.d917e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["8551286a.e8dc28"]]},{"id":"3e76e1b6.fe963e","type":"function","z":"87d0b67.d917e48","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["10707b20.580c65","3279f8c8.5fb9c8"]]},{"id":"10707b20.580c65","type":"ui_gauge","z":"87d0b67.d917e48","name":"","group":"9692df8a.127bd","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":360,"wires":[]},{"id":"2b947a97.979ef6","type":"function","z":"87d0b67.d917e48","name":"objectTemp","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["ad120847.e37738","3279f8c8.5fb9c8"]]},{"id":"ad120847.e37738","type":"ui_gauge","z":"87d0b67.d917e48","name":"","group":"9692df8a.127bd","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Temp","label":"Degree Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":460,"wires":[]},{"id":"25f900bc.59029","type":"ibmiot out","z":"87d0b67.d917e48","authentication":"apiKey","apiKey":"20a16b75.ac7664","outputType":"cmd","deviceId":"123456789","deviceType":"smart","eventCommandType":"data","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":80,"wires":[]},{"id":"be9d96c5.150a58","type":"ui_button","z":"87d0b67.d917e48","name":"","group":"9692df8a.127bd","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motorON\"}","payloadType":"json","topic":"","x":270,"y":80,"wires":[["25f900bc.59029","3279f8c8.5fb9c8"]]},{"id":"5ffe2a0e.ff0524","type":"ui_button","z":"87d0b67.d917e48","name":"","group":"9692df8a.127bd","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motorOFF\"}","payloadType":"json","topic":"","x":280,"y":140,"wires":[["25f900bc.59029","3279f8c8.5fb9c8"]]}]